services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./app
    container_name: node-api
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongodb

volumes:
  mongo_data:
